body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0 0 40PX 0;
    
    
    
}



.menu p{
    font-size: 20px;
    margin-left: 20px;
    color: white;
}

li{
    list-style: none;
    margin-right: 25px;
    color: white;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.lista{
    display: flex;
    text-decoration: none;
}
.lista a{
    
    text-decoration: none;
}

.titular{
    text-align: center;
    margin-top: 200px;
}

.titular h1{
    font-size: 100px;
    margin: 0;
    color: white;
    font-weight: bolder;
}
    


.titular h2{
    font-size: 25px;
    margin-bottom: 40px;
    margin-top: 15px;
    color: white;
    
}

.titular a{
    font-size: 18px;
    background-color: rgba(197, 97, 97, 0.678);    
    padding: 20px 30px 20px 30px;
    color: white;
    text-decoration: none;
    
    
}

header{
    
    background: url(/assets/imagenes/fondo.jpg);
	background-size:cover;	
    background-position: 0 -20px;
    padding: auto;
    height: 600px;   
    
    
}

h3{
    text-align: center;
    font-size: 55px;
    font-weight: lighter;
}

.contenedor_sobre_mi{
    display: flex;
    justify-content: space-around;
    
}


.contenedor_boton_info{
    width: 42%;
}
.contenedor_sobre_mi a{
    font-size: 18px;
    background-color: rgba(197, 97, 97, 0.678);    
    padding: 20px 30px 20px 30px;
    color: white;
    float: right;
    
   
}

.contenedor_sobre_mi img{

    box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}

.contenedor_sobre_mi p{
    text-align: justify;
}

.servicios_general{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.servicios{
    width: 22%;
    padding: 38px;
    margin: 50px 50px 50px 50px;
    border-radius: 10%;
}


.estilo_servicios_izq{
    box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
    
}

.estilo_servicios_cen{
    box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}

.estilo_servicios_der{
    box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
}

.servicios img{
    float: right;
    
}

#what a{
    position: fixed;
    top: 90%;
    right: 1%;

}

.trabajar_conmigo h4{
    text-align: center;
    color: white;
}

.conmigo{
  display: flex;
  flex-wrap: wrap;
  background-color: #fafafa;
  /* margin: 0 30% 0 30%; */
  margin: 0 auto;
  padding: 1rem;
  border: 2px solid #ccc;  
  box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;
  background-image: url(/assets/imagenes/fondo_trabajar.jpg);
  width: 80%;
    
  
}

.conmigo p{
    color: white;
    text-align: justify;
    
}
.conmigo q{
    font-style: oblique;
    color: white;
    font-weight: 800;
    float: right;
}


.global_gaming{
    
    text-align: center;
}
.tarjetas_gaming{
    display: flex;
    flex-wrap: wrap;
    font-size: 26px;
    width: 80%;
    margin: 0 10% 40PX 10%;
    background-color: #fafafa;
    padding: 1rem;
    border: 2px solid #ccc;  
    box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue;      
}



.global_contacto p{

    margin: 0 auto;
    
    width: 95%;
    text-align: center;
    
    padding: 1rem;
    
    
}


.icono_contacto {
   
    
}

.global_contacto{
    width: 90%;
    height: 6rem;
    box-shadow: -5px -5px 30px 5px red, 5px 5px 30px 5px blue; 
    margin: 0 auto;
    text-align: center;
}

.global_contacto a {
    text-decoration: none;
}

